<section id="welcome-section"  class="section1">
    <!--<section id="welcome-section">-->
      <div class="div1"></div>
      <div class="image-principal"><img class="hero-principal rounded-circle" src="assets/project8.jpg"></div>
      <div class="text0">
        <h1>Hi, I'm Patrice Lamarre</h1>
        <p class="descrip"> a web developper...</p>
      </div>
    <!--</section>-->
    <!--<section class="section2">-->
      <img class="image-hero" src="assets/project5.jpg" alt="">
    <!-- </section>-->
  </section>
