/*.section1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.div1{
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
    
}
.image-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
}
.hero-principal{
    width: 250px; 
    height: 250px;
}

h1{
    /*font-weight: bold;*
    font-family: "rubik dirt", sans-serif;
    font-size: 3rem;
    max-width: 400px;
    text-align: center;
}
.text0{
    padding: 20px 0;
}
.text0 p{
    padding: 10px 0;
}
.section1 .text0 h1{
    display: flex;
}
.descrip{
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: orangered;
    font-weight: bold;
}
.image-hero{
    width: 100%;
   /* max-width: 450px;*
    height: 100%;
    border-radius: 20px;
}
/*.section2{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}*

@media screen and (min-width: 768px){
    .hero-principal{
        width: 350px; 
        height: 350px;
    }
   .image-hero{
        width: 1100px;
        height: 550px;
        object-fit: cover;   
    }
}*/