<section id="aboutMe" class="experience">
    <hr>
    <h2 class="title">Personal Information</h2>
    <div class="row info">
        <div class="col-12 col-md-4">
            <h3 class="section-title">About me</h3>
            <p class="section-text mb-4">My name is Lamarre Patrice, Responsive Website Design, I currently live in the United States of America.
                I speak Spanish, French, English and commercial Portuguese. I am a proactive person, I like to work as a team,
                As time passes, I really like to play Chess and listen to music..
            </p>
        </div>
       <div class="column1 col-12 col-md-4"> 
                <h3 class="section-title">Certificate</h3>
                <p class="section-text">Graduated as an Organization Analyst in December 2022, I have the certificate of
                    ArgentineFirst stage program, freeCodeCamp certificate as a responsive web design, certified as a frontend developer Argentina program4.0 .
                </p>
                <div class="badges-container mt-4 mb-4">
                    <span class="badge text-bg-primary">Web Designer</span> 
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">CSS</span>
                    <span class="badge text-bg-primary">DataBase</span>

                </div>
        </div>
        <div class="column1 col-12 col-md-4">
                <h3 class="section-title">Student</h3>
                <p class="section-text"> I studied the basics of Python, C in college, I learned MySQL DataBase, TypeScript, Jquery, Bootstrap on my own. I am studying to perfect myself as a frontend developer
                    and backend.</p>
                <div class="badges-container mt-4">
                    <span class="badge text-bg-primary">Python</span>
                    <span class="badge text-bg-primary">C</span>
                    <span class="badge text-bg-primary">JavaScript</span>
                    <span class="badge text-bg-primary">JQUERY</span>

                </div>
        </div>
    </div>
  </section>
