/*EXPERIENCES*
hr{
    border: 3px solid #1b1b32;
}
.experience{
    margin-top: 30px;
    padding: 20px;
}
.info{
    padding-top: 20px;
}
.title{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}
.section-title{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 2.2rem;
    padding-bottom: 5px;
}
.section-text{
    font-size: 1.9rem;
    padding-top: 10px;
    text-align: center;
}
.column1{
    text-align: center;
}

span{
    margin: 5px;
}*/