/* CONTACT*
.section4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #1f1f1f;
    width: 100%;
}
.text1{
    font-size: 30px;
    color: orangered;
    font-style: italic;
    font-weight: bold;
}
.text2{
    font-style: italic;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.row1{
    background-color: rgb(68, 68, 189);
    height: 250px;
    border-radius: 130px;
    width:100%;
   
    
}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column button{
    height: 60px;
    width: 150px;
    border-radius: 30px;
    background-color: #1f1f1f;
    color: white;
    font-size: 20px;
    border: none;
}
.column button:hover{
    background-color: brown;
    color: white;
}*/