<hr>
<section class="section3" id="projects">
  <div class="some-works"><h2>These are some of my projects</h2></div>
  <div class="row">
    <div class="column2 col-12 col-md-4">
      <div class="col1">
        <div><p>Project1</p></div>
        <div class="link">
          <a href="https://github.com/krabdoble/patricePortfolio" target="_blank" ><i class="bi bi-github"></i></a>
          <a href="https://krabdoble.github.io/patricePortfolio/" target="_blank" ><i class="bi bi-laptop"></i></a>
      </div>
      </div>
      <img class="image-project" src="assets/project9.jpg" alt="my first work">
      
    </div>
    <div class="column2 col-12 col-md-4">
      <div class="col1">
        <div><p>Project2</p></div>
        <div class="link">
          <a href="https://github.com/krabdoble/RepoForm" target="_blank" ><i class="bi bi-github"></i></a>
          <a href="https://krabdoble.github.io/RepoForm/" target="_blank" ><i class="bi bi-laptop"></i></a>
        </div>
      </div>
      <img class="image-project" src="assets/project8.jpg" alt="my second work">
      
    </div>
    <div class="column2 col-12 col-md-4">
      <div class="col1">
        <div><p>Project3</p></div>
        <div class="link">
          <a href="https://github.com/krabdoble/patricePortfolio" target="_blank" ><i class="bi bi-github"></i></a>
          <a href="https://krabdoble.github.io/patricePortfolio/" target="_blank" ><i class="bi bi-laptop"></i></a>
        </div>
      </div>
      <img class="image-project" src="assets/project5.jpg" alt="my third work">
      
    </div>
  </div>
</section>